@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;;

}

body{
    background-color: #160730;

}

.background{
    position: fixed;
    top: 0px;
    left: 0px;
}


header{
height: 43vh;
}


.logo{
    margin-left: 15vw;
    width: 10vw;
    max-width: 100px;
}

.foguete{
    width: 45vw;
    position: fixed;
    top: -10px;
    right: 0;
    
}

.titulo{
    color: #d9d9d9;
    font-weight: 400;
    font-size: 5vh;
    margin-top: 1vh;
    margin-left: 10vh;
}

.titulo-planeta{
    color: #d9d9d9;
    font-weight: 400;
    font-size: 4vh;
    text-decoration: none;
   
}

.titulo-planeta:hover{
    color: #200a46;
}


.moon{
    position: fixed;
    bottom: -20px;
    left: -120px;
    width: 35vw;
    min-width: 400px;
    z-index: -1;
}





/* .button-img{
    margin-left: 15vw;
    margin-top: 3vh;
    width:10vh

} */

.search{
    margin-left: 4vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    
    
    
}

.reset{
    position: absolute;
    top: 28.17vh;
    left: 30.9vw;
    background-color: white;
   
}

.input{
    width: 22vw;
    height: 8vh;
    border-radius: 60px;
    padding-left: 24px;
    outline: none;
    font-size: 1em;
}

button{
   border-radius: 100%;
    background: #160730;
    border: none;
    cursor: pointer;
    
}

.button-img{
    transform: translateY(5px);
    transition: 0.5s;
}

.button-img:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

/* input{
    display: none;
} */


.planeta{
    position: absolute;
    width: 14vw;
    max-width: 190px;
    margin-bottom: 400px;
    top: -3vw;
    left: -0.8vw;
   
}
    
.card-conteudo{
min-height: 250px;
min-width: 200px;
max-height: 100px;
max-width: 200px;
width: 20vw;
height: 5vw;
border-radius: 10px;
    padding-top: 12vh;
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 0.83em;
    background: rgba(225, 255, 255, 0.1);
    display: flex;
    display: grid;

    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #d9d9d9;
    backdrop-filter: blur(4px);
    box-shadow: 20px 20px 50px rgba(5, 0, 0, 0.2);
    transform: translateY(5px);
    overflow: visible;
    transition: 0.5s;
   
}



.filter-card{
    min-height: 250px;
    min-width: 200px;
    max-height: 100px;
    max-width: 200px;
    width: 20vw;
    height: 5vw;
    border-radius: 10px;
        padding-top: 12vh;
        padding-right: 1vw;
        padding-left: 1vw;
        font-size: 0.83em;
        background: rgba(225, 255, 255, 0.1);
        display: flex;
        display: grid;
    
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color: #d9d9d9;
        backdrop-filter: blur(4px);
        box-shadow: 20px 20px 50px rgba(5, 0, 0, 0.2);
        transform: translateY(5px);
        overflow: visible;
        transition: 0.5s;
       
}

.card-conteudo:hover{
    background: linear-gradient(#ca5bdb,#d406df,#090957,#160730);
    transition: 0.5s;
    transform: translateY(-10px);
    
    
}

.info{
    margin-top: 2vh;
}
.slide-container{
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    left: 200px;
    
   
}


li{
font-size: smaller;
list-style: none;
padding: 0.5em;

}





.box-redes{
    color: #d9d9d9;
    font-size: 0.8em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4vw;
    height: 20vh;
    position: absolute;
    left: 0px;
    bottom: 144px;
    margin: 3px;
    background: rgba(116, 25, 139, 0.6);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(5px);
    
   
    
}

.logo-git:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.logo-git{
    transform: translateY(0px);
    transition: 0.5s;
}

.logo-link:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.logo-link{
    transform: translateY(0px);
    transition: 0.5s;
}


.feito-por:hover{
    color: #160730;
    cursor: pointer;
}